@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Spartan:wght@300;400;500&display=swap");

/* GENERAL DESIGN */

*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: "Spartan", sans-serif;
	transition: 0.2s ease;
}

:root
{
	--PrimaryColor: #92C7CF;
	--SecondaryColor: #E5E1DA;
	--colorOne: hsl(15, 74%, 70%);
	--colorTwo: hsl(28, 100%, 82%);
	--HoverColor: hsl(225, 56%, 59%);
	--whiteColor: hsl(0, 0%, 100%);
	--blackColor: hsl(0, 0%, 12%);
	--textColor: hsl(240, 1%, 48%);
	--borderColor: hsl(0, 0%, 83%);
	--whiteColorDeam: hsl(0, 0%, 93%);
	--greyBg: hsl(0, 0%, 96%);
	--greyText: rgb(145, 145, 145);
	--inputColor: hsl(330, 12%, 97%);
	--boxShadow: box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
	--transition: .4s ease-in-out;
}

body
{
	background: var(--whiteColor);
}

a
{
 	 text-decoration: none;
}

li
{
	list-style: none;
	cursor: pointer;
}

.section
{
 	 padding: 4rem 0 2rem;
}

.container
{
  	padding-left: 1.5rem;
  	padding-right: 1.5rem;
}

.icon
{
  	font-size: 1.3rem;
  	cursor: pointer;
}

.flex
{
 	 display: flex;
 	 align-items: center;
}

.grid
{
 	 display: grid;
 	 align-items: center;
}

.none
{
  	display: none;
}

.btn
{
 	padding: 0.7rem 1.5rem;
	background: var(--PrimaryColor);
	border: none;
	outline: none;
	border-radius: 3rem;
	cursor: pointer;
	color: var(--whiteColor);
}

.btn a
{
	color: var(--whiteColor);
	font-weight: 500;
}

.btn:hover
{
 	 background: var(--HoverColor);
}

.btn:hover a
{
 	 color: var(--whiteColor);
}

img, video
{
	width: 100%;
	height: auto;
}

input
{
	font-size: 100%;
	color: var(--greyText);
}

p
{
	font-size: 13px;
	color: var(--greyText);
	line-height: 22px;
}

h4
{
	padding: 1rem 0;
	font-weight: 700;
	color: black;
}

h2
{
	font-size: 25px;
	padding: 1rem 0;
	color: var(--blackColor);
}

/* NAVBAR DESIGN */

.navBar
{
	display: flex;
	align-items: center;
	position: fixed;
	flex-direction: column;
	z-index: 1000;
	width: 100%;
}

.navBar .navBarOne, .navBar .navBarTwo
{
	justify-content: space-between;
	padding: 1rem;
	width: 100%;
}

.navBar .navBarOne
{
 	 background: var(--SecondaryColor);
}

.navBar .navBarOne .none
{
	display: none;
}

.navBar .navBarOne .icon:hover
{
  	color: var(--PrimaryColor);
}

.navBar .navBarOne .atb
{
  	gap: 1rem;
}

.navBar .navBarOne .atb span
{
	color: var(--blackColor);
	font-size: 13px;
	cursor: pointer;
}

.navBar .navBarOne .atb span:hover
{
	color: var(--PrimaryColor);
	font-size: 700;
}

.navBar .navBarTwo
{
	display: flex;
	align-items: center;
	justify-content: space-between !important;
	top: 3rem;
	padding: 1.5rem 1rem;
	position: fixed;
	transition: 0.3s ease-in-out;
}

.navBar .navBarTwo .logoDiv .Logo
{
 	 width: 35%;
}

@media screen and (max-width: 768px)
{
	.navBar .navBarTwo .navBarMenu
	{
		position: absolute;
		background: var(--SecondaryColor);
		padding: 1.5rem;
		border-radius: 10px;
		top: 5rem;
		right: -50%;
		width: 80%;
		transform: translateX(50%);
		z-index: 2000;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
		border: 3px solid var(--whiteColor);
		transition: 0.4s ease-in-out;
	}

	.navBar .navBarTwo .navBarMenu .menu
	{
		flex-direction: column;
		gap: 0.5rem;
		text-align: center;
	}

	.navBar .navBarTwo .navBarMenu .menu .listItem
	{
		padding: 0.5rem 0;
		cursor: pointer;
		color: var(--blackColor);
	}
	
	.navBar .navBarTwo .navBarMenu .menu .listItem:hover
	{
		color: var(--PrimaryColor);
		font-weight: 700;
	}

	.navBar .navBarTwo .navBarMenu .btnOne
	{
		display: block;
		justify-content: center;
		margin: auto;
		align-self: center;
		margin-top: 1rem;
	}

	.navBar .navBarTwo .btnTwo
	{
		display: none;
	}
}

.navBar .navBarTwo .showNavBar
{
	right: 50%;
	transition: 0.5s ease-in-out;
}

.navBar .navBarTwo .toggleIcon .icon
{
	font-size: 30px;
	color: var(--blackColor);
}

.navBar .activeHeader
{
	background: var(--SecondaryColor);
	padding: 0.5rem 1rem;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

/* HOME COMPONENT DESIGN */

.home
{
	padding-top: 10rem;
	text-align: center;
	gap: 2rem;
	flex-direction: column;
}

.home .mainText
{
  	color: var(--blackColor);
	font-weight: 700;
	font-size: 15px;
	line-height: 2.5rem;
}

.home .homeImages
{
	width: 100%;
	margin: 1rem auto 0;
	justify-content: center;
	align-items: center;
	position: relative;
	border-radius: 5rem;
}

.home .homeImages .HomePhoto
{
  	width: 100%;
}

.home .homeImages .HomePhoto .photo1
{
 	 border-radius: 10rem;
}

.home .homeImages .citylights
{
	position: absolute;
	width: 100%;
	top: -10%;
}

/* SEARCH BAR DESIGNS */

.search .sectionContainer
{
	width: 100%;
	/* height: 300px; */
	padding: 2rem;
	border: 2px solid var(--greyBg);
	border-radius: 16px;
	row-gap: 2rem;
}

.search .sectionContainer .btns
{
	background: var(--SecondaryColor);
	padding: 0.5rem;
	border-radius: 1rem;
	flex-direction: column;
	width: 100%;
	margin: auto;
}

.search .sectionContainer .btns .singleBtn
{
	padding: 0.8rem 1.5rem;
	font-size: 13px;
	border-radius: 3rem;
	width: 80%;
	text-align: center;
}

.search .sectionContainer .btns .singleBtn:hover
{
	background: var(--PrimaryColor);
	color: var(--whiteColor);
	font-weight: 500;
	transition: 0.4s ease;
}

.search .sectionContainer .btns .active
{
	background: var(--PrimaryColor);
	color: var(--whiteColor);
	font-weight: 500;
}

.search .sectionContainer .searchInputs
{
	width: 100%;
	justify-content: center;
	flex-direction: column;
	gap: 1.5rem;
}

.search .sectionContainer .searchInputs .singleInput .iconDiv
{
	padding: 16px 10px;
	border-radius: 3rem;
	background: var(--SecondaryColor);
	margin-right: 1rem;
}

.search .sectionContainer .searchInputs .singleInput .iconDiv .icon
{
	color: var(--blackColor);
	opacity: 0.7;
}

.search .sectionContainer .searchInputs .singleInput .texts h4
{
	padding-top: 0;
	padding-bottom: 0.7rem;
	color: var(--blackColor);
	font-weight: 700;
}

.search .sectionContainer .searchInputs .singleInput .texts input
{
	width: 95%;
	border: none;
	outline: none;
	background: transparent;
}

.search .sectionContainer .searchInputs .singleInput .texts input::-moz-placeholder
{
	font-size: 12px;
	opacity: 0.5;
}

.search .sectionContainer .searchInputs .singleInput .texts input:-ms-input-placeholder
{
	font-size: 12px;
	opacity: 0.5;
}

.search .sectionContainer .searchInputs .singleInput .texts input::placeholder
{
  	font-size: 12px;
 	opacity: 0.5;	
}

.search .sectionContainer .btnBlock
{
	width: 100%;
	justify-content: center;
	gap: 0.5rem;
}

/* INFO COMPONENT DESIGNS */

.info
{
	background: var(--SecondaryColor);
}

.info .infoContainer .titleDiv
{
	flex-direction: column;
	text-align: center;
	gap: 1.5rem;
	justify-content: space-between;
}

.info .infoContainer .cardsDiv
{
	gap: 1.5rem;
	margin-top: 3rem;
}

.info .infoContainer .cardsDiv .singleCard
{
	background: var(--whiteColor);
	padding: 3rem 2rem;
	border-radius: 10rem;
	gap: 1rem;
	text-align: center;
	margin: auto;
	height: 320px;
	width: 90%;
	max-width: 250px;
}

.info .infoContainer .cardsDiv .singleCard .iconDiv
{
	justify-content: center;
	margin: auto;
	background: var(--PrimaryColor);
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	height: 55px;
	padding: 1rem;
	border-radius: 3rem;
}

.info .infoContainer .cardsDiv .singleCard .iconDiv .icon
{
  	color: var(--whiteColor);
}

.info .infoContainer .cardsDiv .singleCard .cardTitle
{
	color: var(--blackColor);
	font-weight: 700;
}

.info .infoContainer .cardsDiv .singleCard .colorOne
{
	background: var(--colorOne);
}

.info .infoContainer .cardsDiv .singleCard .colorTwo
{
	background: var(--colorTwo);
}

@-webkit-keyframes identifier {
  0% {
	transform: translateY(0px);
  }
  50% {
	transform: translateY(8px);
  }
  100% {
	transform: translateY(0px);
  }
}

@keyframes identifier {
  0% {
	transform: translateY(0px);
  }
  50% {
	transform: translateY(8px);
  }
  100% {
	transform: translateY(0px);
  }
}

@-webkit-keyframes yeaMove {
  0% {
	border-radius: 0rem;
  }
  50% {
	border-radius: 2rem;
  }
  100% {
	border-radius: 0rem;
  }
}

@keyframes yeaMove {
  0% {
	border-radius: 0rem;
  }
  50% {
	border-radius: 2rem;
  }
  100% {
	border-radius: 0rem;
  }
}

/* SUBSCRIBE COMPONENT DESIGN */

.subscribe
{
	background: var(--SecondaryColor);
}

.subscribe .sectionContainer
{
	text-align: center;
}

.subscribe .sectionContainer .inputDiv
{
	margin-top: 1rem;
	flex-direction: column;
	background: var(--whiteColor);
	border-radius: 1rem;
}

.subscribe .sectionContainer .inputDiv input
{
	border: none;
	outline: none;
	background: transparent;
	padding: 1rem 0.5rem;
}

.subscribe .sectionContainer .inputDiv input::-moz-placeholder
{
	font-size: 13px;
	opacity: 0.7;
}

.subscribe .sectionContainer .inputDiv input:-ms-input-placeholder
{
	font-size: 13px;
	opacity: 0.7;
}

.subscribe .sectionContainer .inputDiv input::placeholder
{
	font-size: 13px;
	opacity: 0.7;
}

.subscribe .sectionContainer .inputDiv .btn
{
	width: 100%;
}

/* FOOTER DESIGNS */

.footer
{
	background: var(--SecondaryColor);
}

.footer .sectionContainer
{
  	gap: 2.5rem;
}

.footer .sectionContainer .gridOne
{
	gap: 1rem;
	justify-content: center;
	margin: auto;
}

.footer .sectionContainer .gridOne .logoDiv .Logo
{
	width: 20%;
}

.footer .sectionContainer .gridOne .socialIcons
{
	margin-top: 1rem;
	gap: 1rem;
}

.footer .sectionContainer .gridOne .socialIcons .icon
{
	height: 50px;
	width: 30px;
	border-radius: 10rem;
	border: 1px solid var(--borderColor);
	/* box-shadow: var(--boxShadow); */
	padding: 0.4rem;
	color: var(--greyText);
}

.footer .sectionContainer .gridOne .socialIcons .icon:hover
{
	background: var(--PrimaryColor);
	transform: translateY(-7px);
	transition: var(--transition);
	border: 1px solid var(--PrimaryColor);
	color: var(--whiteColor);
}

.footer .sectionContainer .footerLinks
{
	display: grid;
}

.footer .sectionContainer .footerLinks .linkTitle
{
	color: var(--blackColor);
	font-weight: 500;
	display: block;
	padding-bottom: 1rem;
}

.footer .sectionContainer .footerLinks li a
{
	display: block;
	color: var(--greyText);
	padding: 0.3rem 0;
	transition: var(--transition);
}

.footer .sectionContainer .footerLinks li a:hover
{
	transform: translateX(7px);
	color: var(--PrimaryColor);
}

.footer .copyrightDiv
{
	justify-content: center;
	margin-top: 1.5rem;
	padding: 1rem;
	gap: 1rem;
	border-top: 1px solid var(--greyText);
	text-align: center;
}

@media screen and (min-width: 480px)
{
	.home
	{
		padding-top: 12rem;
	}

	.search .sectionContainer .searchInputs
	{
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}

	.subscribe .sectionContainer
	{
		max-width: 80%;
		margin: auto;
	}

	.subscribe .sectionContainer .inputDiv
	{
		flex-direction: row;
		padding: 0 0.5rem;
		border-radius: 3rem;
	}

	.footer .sectionContainer
	{
		grid-template-columns: repeat(2, 1fr);
	}

	.footer .sectionContainer .footerLinks
	{
		justify-content: center;
	}
}

@media screen and (min-width: 570px)
{
	.home .mainText
	{
		width: 80%;
	}

	.home .homeImages .photo1
	{
		border-radius: 15rem;
	}

	.home .homeImages .citylights
	{
		position: absolute;
		width: 95%;
		top: -8%;
	}

	.search .sectionContainer .btns
	{
		border-radius: 3rem;
		flex-direction: row;
	}

	.search .sectionContainer .searchInputs
	{
		grid-template-columns: repeat(1, 1fr);
	}

	.info .infoContainer .titleDiv
	{
		flex-direction: row;
	}

	.info .infoContainer .titleDiv h2
	{
		text-align: left;
		max-width: 500px;
	}

	.info .infoContainer .cardsDiv
	{
		grid-template-columns: repeat(2, 1fr);
	}

	.subscribe .sectionContainer
	{
		max-width: 80%;
		margin: auto;
	}

	.subscribe .sectionContainer .inputDiv
	{
		flex-direction: row;
		padding: 0 0.5rem;
		border-radius: 3rem;
		justify-content: space-between;
	}

	.subscribe .sectionContainer .inputDiv .btn
	{
		max-width: -webkit-max-content;
		max-width: -moz-max-content;
		max-width: max-content;
	}
	
	.footer .sectionContainer
	{
		padding-top: 2rem;
		align-items: flex-start;
		grid-template-columns: repeat(3, 1fr);
	}
}

@media screen and (min-width: 680px)
{
	.home .mainText
	{
		width: 80%;
	}

	.home .homeImages .HomePhoto
	{
		width: 80%;
	}

	.home .homeImages .HomePhoto .photo1
	{
		height: 100%;
		width: 100%;
		border-radius: 15rem;
	}

	.home .homeImages .citylights
	{
		position: absolute;
		width: 95%;
		top: -8%;
	}

	.search .sectionContainer .btn
	{
		border-radius: 3rem;
		flex-direction: row;
	}

	.search .sectionContainer .searchInputs
	{
		grid-template-columns: repeat(1, 1fr);
	}

	.footer .sectionContainer
	{
		padding-top: 2rem;
		align-items: flex-start;
		grid-template-columns: repeat(4, 1fr);
	}
}

@media screen and (min-width: 768px)
{
	.navBar
	{
		align-items: center;
	}

	.navBar .navBarOne .none
	{
		display: flex;
		gap: 1.5rem;
	}

	.navBar .navBarOne .none li
	{
		font-size: 13px;
		gap: 0.5rem;
		color: var(--textColor);
	}

	.navBar .navBarOne .none li:hover
	{
		color: var(--PrimaryColor);
		text-decoration: underline;
	}

	.navBar .navBarTwo
	{
		justify-content: space-between;
		align-items: center;
	}

	.navBar .navBarTwo .logoDiv .Logo
	{
		max-width: 40%;
	}

	.navBar .navBarTwo .menu
	{
		flex-direction: row;
		gap: 0.5rem;
	}

	.navBar .navBarTwo .menu .listItem
	{
		padding: 0 0.5rem;
		font-size: 14px;
	}

	.navBar .navBarTwo .menu .listItem
	{
		padding: 0 0.5rem;
		font-size: 14px;
		cursor: pointer;
		color: var(--textColor);
		font-weight: 700;
	}

	.navBar .navBarTwo .menu .listItem:hover
	{
		color: var(--PrimaryColor);
		font-weight: 700;
	}

	.navBar .navBarTwo .btnOne, .navBar .navBarTwo .toggleIcon
	{
		display: none;
	}

	.navBar .navBarTwo .btnTwo
	{
		display: block;
	}

	.search .sectionContainer .btns
	{
		width: 70%;
		border-radius: 3rem;
		flex-direction: row;
	}

	.search .sectionContainer .searchInputs
	{
		grid-template-columns: repeat(4, 1fr);
	}

	.search .sectionContainer .searchInputs .singleInput .texts input
	{
		width: 100%;
	}

	.info .infoContainer
	{
		padding: 0 6rem;
	}

	.info .infoContainer .titleDiv
	{
		width: 90%;
		margin: auto;
		align-items: center;
	}

	.info .infoContainer .cardsDiv
	{
		grid-template-columns: repeat(3, 1fr);
	}

	.info .infoContainer .cardsDiv .singleCard
	{
		max-width: 260px;
		padding: 3rem;
	}
}

@media screen and (min-width: 960px)
{
	.home
	{
		padding-top: 13rem;
	}

	.home .mainText
	{
		width: 70%;
		padding-bottom: 1.5rem;
		font-size: 22px;
		line-height: 4rem;
	}

	.search .sectionContainer .searchInputs
	{
		grid-template-columns: repeat(4, 1fr);
	}

	.subscribe .sectionContainer
	{
		max-width: 70%;
	}
}

@media screen and (min-width: 1024px)
{
	p
	{
		font-size: 15px;
		line-height: 25px;
	}

	h4
	{
		font-size: 20px;
	}

	h2
	{
		font-size: 27px;
	}

	.container
	{
		width: 75%;
		margin: auto;
	}

	.section
	{
		padding: 6rem 0 4rem;
	}

	.navBar .activeHeader
	{
		padding: 0 5rem;
	}

	.home .mainText
	{
		width: 60%;
		padding-bottom: 1.5rem;
		font-size: 25px;
		line-height: 4rem;
	}

	.home .homeImages .HomePhoto
	{
		width: 90%;
		height: 300px;
	}

	.home .homeImages .HomePhoto .photo1
	{
		height: 100%;
		width: inherit;
		-o-object-fit: cover;
		object-fit: cover;
		border-radius: 15rem;
	}

	.home .homeImages .citylights
	{
		position: absolute;
		width: 100%;
		top: -10%;
	}

	.search .sectionContainer .btns
	{
		width: 50%;
	}
}

@media screen and (min-width: 1106px)
{
	.home .homeImages .HomePhoto
	{
		width: 90%;
	}

	.home .homeImages .HomePhoto .photo1
	{
		height: 100%;
		width: inherit;
		-o-object-fit: cover;
		object-fit: cover;
		border-radius: 15rem;
	}

	.home .homeImages .citylights
	{
		position: absolute;
		width: 100%;
		top: -10%;
	}

	.subscribe .sectionContainer
	{
		max-width: 60%;
	}
}

@media screen and (min-width: 1332px)
{
	.navBar .navBarTwo .menu
	{
		gap: 1rem;
	}

	.navBar .navBarTwo .menu .listItem
	{
		padding: 0 1rem;
		font-size: 14px;
	}

	.navBar .navBarTwo .btnOne, .navBar .navBarTwo .toggleIcon
	{
		display: none;
	}

	.navBar .navBarTwo .btnTwo
	{
		display: block;
	}

	.home .homeImages .citylights
	{
		position: absolute;
		width: 100%;
		top: -10%;
	}

	.subscribe .sectionContainer
	{
		max-width: 50%;
	}
}

@media screen and (min-width: 1440px)
{
	.home .homeImages .citylights
	{
		position: absolute;
		width: 90%;
		top: -30%;
	}
}

::-moz-selection
{
	background: var(--PrimaryColor);
	color: var(--whiteColor);
}

::selection
{
	background: var(--PrimaryColor);
	color: var(--whiteColor);
}

::-webkit-scrollbar
{
	width: 10px;
	background: var(--greyBg);
}

::-webkit-scrollbar-thumb
{
	background: var(--PrimaryColor);
	border-radius: 10px;
}