.popup
{
    z-index: 3000;
    position: absolute;
    background-color: var(--blackColor);
    color: var(--SecondaryColor);
    border: 1px solid var(--blackColor);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 20px;
}

.popup div
{
    padding: 10px;
    cursor: pointer;
}

.popup div:hover
{
    background-color: var(--PrimaryColor);
    color: var(--blackColor);
}

.datePopup
{
    position: absolute;
    background-color: var(--blackColor);
    color: var(--SecondaryColor);
    border: 1px solid var(--blackColor);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
    margin-top: 20px;
}