/* Styling for the FAQPage will go here */
.faq-page-container {
  width: auto;
  display: flex;
  overflow: auto;
  align-items: center;
  padding-top: 12%;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 15%;
}

.faq-page-text {
  align-self: center;
  text-align: center;
  color: black;
  background-color: white;
  margin-bottom: 4vb;
  border-radius: 1vb;
  padding: 0.3%;
}

.background-container {
  /* background-image: url("../../assets/CityMap.png"); */
  /* background-color: black; */
  width: 100%;
  height: fit-content;
  background-position: center;
  background-size: 80% 70%;
  background-repeat: no-repeat;
}

.accordion-page {
  max-width: 800px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.accordion-container {
  width: 75%;
}

.accordion-item {
  border: 1px solid #ccc;
  margin-bottom: 15px;
  border-radius: 4px;
  overflow: hidden;
}

.accordion-header {
  background-color: #eee;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.accordion-content {
  padding: 10px;
  background-color: #fff;
  text-align: left;
}

.accordion-item.open .accordion-content {
  display: block;
}

@media (max-width: 991px) {
  .background-container {
    background-size: 80% 80%;
  }
}